{% extends 'base.html' %}

{% block title %}
about we
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Головна сторінка</h1>
      <p class="fs-5 text-body-secondary">С помощью этого примера Bootstrap быстро создайте эффективную таблицу цен для ваших потенциальных клиентов. Он построен с использованием компонентов и утилит Bootstrap по умолчанию с небольшими настройками.</p>
    </div>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/login" type="button" class="btn btn-primary btn-lg px-4 gap-3">Увйти в акаунт</a>
        <a href="/buyer" type="button" class="btn btn-outline-secondary btn-lg px-4">Зареєструватися</a>
      </div>
   {% endblock %}

