{% extends 'base.html' %}

{% block title %}
about we
{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатно</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 пользователей включено</li>
              <li>2 ГБ хранилища</li>
              <li>Обычная поддержка по электронной почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Регистрация бесплатно</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Про</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 пользователей включено</li>
              <li>10 ГБ хранилища</li>
              <li>Приоритетная поддержка по эл. почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Начать</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Корпоративный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/мес</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 пользователей включено</li>
              <li>15 ГБ хранилища</li>
              <li>Поддержка по телефону и эл. почте</li>
              <li>Доступ к справочному центру</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Связаться с нами</button>
          </div>
        </div>
      </div>
    </div>{% endblock %}