{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div>
  <h1>{{ article.title }}</h1>


    <div class="alert alert-info">
      <p>{{ article.intro }}</p>
      <p><b>Дата: {{ article.date.date() }}</b></p>
      <p>{{ article.text }}</p>
      <a href="{{ url_for('post_detail', id=article.id) }}" class="btn btn-success"> Детальніше </a>
      <a href="{{ url_for('post_delite', id=article.id) }}" class="btn btn-danger"> Удаліть </a>


    </div>



</div>
{% endblock %}